*{margin:0;
padding: 0;}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* fonts */

.profile{
    width: 2.5rem !important;
    height: 2.5rem !important;
    align-self: center;
}

#dropdownMenuButton{
    width: 8rem;
    font-family: 'Open-sans' sans-serif;
    font-weight: 400;
}
#language{
    font-family: 'Open-Sans',sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
#english{
    width: 8rem;
}



.banner__section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/2856828.png);
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
#drp-down{
    background-color: #1A54B0;
    padding: 1.64rem;
    color: #fff;
}
.bnnr-search{
    font-size: 1rem;
}
.banner_search{
    position: relative;
    top: 0.75rem;
    right: 3rem;
    font-size: 2rem;
}
.banner__header{
    font-size: 2.3rem;
    color: #fff;
    font-weight: bold;

}
.input-bar{
    width: 5rem;
}
.bnnr-search{
    font-size: 2rem;

}


/* what are you looking for */

.a-voilet{
    background-color: #A485BE !important;
    /* height: 14vw; */
}

.c-green{
    background-color: #89CCAB !important;
    /* height: 14vw; */
}
.c-tomato{
    background-color: #F79384 !important;
    /* height: 14vw; */
}
.book-now-btn{
    font-size: 0.9rem !important;
    color: #fff !important;
}
.book_an_appointmnt{
    font-size: 1.75rem;
    color: #fff;
    height: 2rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
}

.star-img{
    width: 1rem;
}

.book-now-btn{
    width: 8.25rem;
    height: 2.87rem;
}

h3{
    font-size: 2rem !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important;
}


/* kind of doctor */
.doctor-info{
    font-size: 0.9rem;
    color: #666666;
}
.profession{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    color: #1A54B0;

}
/* kind of doctor */


/*  how it works...... */
.rating-image{
    width: 1rem;
}

.txt-hwt{
    font-size: 0.9rem;
}
.card-titleh{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight:600 ;
}
/* how it works */

/* our customer */
.our_reviewers{
    font-family: 'Open-Sans',sans-serif !important;
    font-weight: 700;
    font-size: 1.25rem;
}
.reviwer_description{
    font-size: 1rem;
    font-family: 'Open-Sans',sans-serif !important;
    font-weight: 400;
    margin-bottom: 0;

}
h5{
    font-family: 'Open-Sans',sans-serif !important;
    font-size: 1.125rem !important;
    font-weight: 700 !important;
    margin-bottom: 0;

}

hr.nicest_things_hr{
    border-top: 2px dashed #B5AFAF;
    background-color: blanchedalmond;
}
.review-text{
    font-family: 'Open-Sans',sans-serif;
    font-weight: 400;
}
/*  */
/* *****cities we operated****** */

.cities_we_operated{
    font-size: 1rem !important;
}

.city{
    font-size: 1rem !important;
    color: #666666;
  
}
.city-icon{
    margin-right: 0.3rem;
    margin-top: 0.2rem;
}

/* *****cities we operated****** */

/* footer */
.footer-txt{
    color: #fff;
}

hr{
    background-color: #212121;
    /* height: 4rem; */
}

.footer-social-ico{
    font-size: 2rem;
}
.at_rate__bottom{
    color: #fff;
}
